jupyter
notebook
jupyterlab
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
opencv-contrib-python
opencv-python
scipy
pillow
requests
pyyaml
python-dotenv
streamlit
pyspark==3.5.0
py4j
delta-spark==3.0.0